{% extends 'question/base.html' %}
{% block title%}Register{% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class="container fluid">
    <div class="row">
        <div class="panel-heading">Create a New Account</div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel">
                    <form class="form-horinzontal"  action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'question/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">

                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}

