body {
    position: relative;
    background: red;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
    position: fixed;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: white;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}



